name: Deploy BGG Data Warehouse

on:
  push:
    branches: [ main ]
    paths:
      - 'docker/Dockerfile.pipeline'
      - 'config/cloudbuild.yaml'
      - 'src/pipeline/**'
      - 'src/modules/**'
  workflow_dispatch:

env:
  GCP_PROJECT_ID: bgg-data-warehouse
  GCP_REGION: us-central1

jobs:
  deploy:
    runs-on: ubuntu-latest
    timeout-minutes: 30

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Google Cloud Auth
        uses: google-github-actions/auth@v2
        with:
          credentials_json: ${{ secrets.GCP_SA_KEY_BGG_DW }}

      - name: Set up Cloud SDK
        uses: google-github-actions/setup-gcloud@v2

      - name: Deploy
        run: |
          gcloud builds submit --config config/cloudbuild.yaml \
            --project=${GCP_PROJECT_ID} \
            --substitutions=_BGG_API_TOKEN=${{ secrets.BGG_API_TOKEN }}
